<a href="https://colab.research.google.com/github/MadSparr0w0/Team_Bit/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Подключаем файл в прогамму и подключаем библиокету pandas

In [69]:
import pandas as pd
data = pd.read_excel('5практа.xlsx')
print(data)

         День недели      Доход     Расход  Финансовый результат
0        Понедельник  3245.2000  3628.5000              -383.300
1            Вторник  4572.5000  5320.5000              -748.000
2              Среда  6251.6600  5293.1000               958.560
3              Chtlf        NaN        NaN                   NaN
4            Четверг  2125.2000  3824.3000             -1699.100
5            gznybwf     0.0000     0.0000                 0.000
6            Пятница  3896.6000  3020.1000               876.500
7            Суббота  5420.3000  4262.1000              1158.200
8            Суббота        NaN        NaN                   NaN
9        Воскресенье  6050.6000  4369.5000              1681.100
10  Среднее значение  3945.2575  3714.7625               230.495

Количество пропущенных значений для каждого поля

In [70]:
data.isnull().sum()

День недели             0
Доход                   2
Расход                  2
Финансовый результат    2
dtype: int64

Оценила, сколько пропущенных значений является допустимым (10% от общего количества строк)

In [71]:
prop= 0.1*len(data)
critical_columns = data.columns[data.isnull().sum() > prop]
print(f"Критические столбцы с пропущенными значениями: {list(critical_columns)}")

Критические столбцы с пропущенными значениями: ['Доход', 'Расход', 'Финансовый результат']

Очищаем данные от ошибок и аномалий. Удаляем строки с пропущенным значениями. Проверила количество пропущенных значений для каждого атрибута.

In [72]:
data1 = data[data['Доход'] >= 0]
data1.isnull().sum()

День недели             0
Доход                   0
Расход                  0
Финансовый результат    0
dtype: int64

Оцениваю погрешность при допустимом количестве пропущенных значений. Допустимое количесво взяла 5%

In [76]:
kolvo = 0.05
if(data.isnull().sum().max() / len(data)) > kolvo:
  print("Погрешность превышает допустимый порог!")

Погрешность превышает допустимый порог!

Преобразование типов данных;

In [75]:
#if 'Расход' in data.columns:
    # data['Расход'] = pd.to_datetime(data['Расход'], errors='coerce')

Оценила качество данных

In [79]:
print("Описательная статистика:")
data1.describe(include='all')

Описательная статистика:

        День недели        Доход       Расход  Финансовый результат
count             9     9.000000     9.000000              9.000000
unique            9          NaN          NaN                   NaN
top     Понедельник          NaN          NaN                   NaN
freq              1          NaN          NaN                   NaN
mean            NaN  3945.257500  3714.762500            230.495000
std             NaN  1990.328401  1585.057484           1062.011895
min             NaN     0.000000     0.000000          -1699.100000
25%             NaN  3245.200000  3628.500000           -383.300000
50%             NaN  3945.257500  3824.300000            230.495000
75%             NaN  5420.300000  4369.500000            958.560000
max             NaN  6251.660000  5320.500000           1681.100000

Удаляю дублирующиеся поля

In [92]:
data2 = data1.drop_duplicates
print(data2)

<bound method DataFrame.drop_duplicates of          День недели      Доход     Расход  Финансовый результат
0        Понедельник  3245.2000  3628.5000              -383.300
1            Вторник  4572.5000  5320.5000              -748.000
2              Среда  6251.6600  5293.1000               958.560
4            Четверг  2125.2000  3824.3000             -1699.100
5            gznybwf     0.0000     0.0000                 0.000
6            Пятница  3896.6000  3020.1000               876.500
7            Суббота  5420.3000  4262.1000              1158.200
9        Воскресенье  6050.6000  4369.5000              1681.100
10  Среднее значение  3945.2575  3714.7625               230.495>

Сохраняю результат в файл 51практа.xlsx

In [100]:
from google.colab import files
data1.to_excel('51практа.xlsx', index=False)
files.download('51практа.xlsx')